<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand color titulo" [routerLink]="['/home', {outlets: {home: ['fila']}}]">Guentaí</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-md-center sub-titulo" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " [class.active]="router.url == '/home/(home:fila)' || router.url == '/home/(home:fila-cadastro)'" aria-current="page" [routerLink]="['/home', {outlets: {home: ['fila']}}]">Fila de espera</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="router.url == '/home/(home:garcom)' || router.url == '/home/(home:garcom-cadastro)'" [routerLink]="['/home', {outlets: {home: ['garcom']}}]">Garçons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [class.active]="router.url == '/home/(home:mesas)' || router.url == '/home/(home:mesas-cadastro)'" [routerLink]="['/home', {outlets: {home: ['mesas']}}]">Mesas</a>
        </li>
        <li class="nav-item dropdown avatar-drop2">
          <a class="nav-link container-img" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://svgsilh.com/png-1024/2098873.png" alt="" width="70" height="70" class="d-inline-block align-text-top avatar">
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start bg-dark position" aria-labelledby="navbarDropdownMenuLink">
            <li class="click"><a class="dropdown-item color" (click)="perfil()">Perfil</a></li>
            <li class="click"><a class="dropdown-item color" (click)="sair()">Sair</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <ul class="navbar-nav avatar-drop">
      <li class="nav-item dropdown">
        <a class="nav-link container-img" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://svgsilh.com/png-1024/2098873.png" alt="" width="70" height="70" class="d-inline-block align-text-top avatar">
        </a>
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start bg-dark position" aria-labelledby="navbarDropdownMenuLink">
          <li class="click"><a class="dropdown-item color" (click)="perfil()">Perfil</a></li>
          <li class="click"><a class="dropdown-item color" (click)="sair()">Sair</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
