.form-control {
  color: white;
  background-color: transparent;
  border: 0px solid transparent;
  border-bottom: 1px solid rgb(95, 147, 160);
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 0px;

  &:focus,
  &:active,
  &:hover {
    box-shadow: 0 0 0 0 transparent;
  }
}

.pagging {
  padding-top: 100px;
  padding-bottom: 100px;
}

