<div class="container">
  <div class="row">
    <div class="container-fila">
      <div class="col-10 col-sm-7 col-md-5 col-lg-4">
        <div class="card text-white bg-dark" style="max-width: 18rem">
          <div class="card-header">Header</div>
          <div class="card-body">
            <h5 class="card-title">Dark card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-7 col-md-5 col-lg-4">
        <div class="card text-white bg-dark" style="max-width: 18rem">
          <div class="card-header">OI</div>
          <div class="card-body">
            <h5 class="card-title">Teste deploy automatico</h5>
            <p class="card-text">
              🤢🤢🤢😁😁👍👍🙌🙌
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
