<div class="container pagging">
  <div style="padding: 0 0 10px;">
    <button type="button" (click)="cadastrar()" class="btn btn-light col-4 col-sm-4 col-md-3 col-lg-2 color">
      Cadastrar
    </button>
  </div>
  <div class="row bg-dark border-header-container">
    <div class="pagging-two overflow-auto">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label texto-sub-titulo">Buscar</label>
        <form [formGroup]="filtroForm">
          <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="filtro" placeholder="João">
        </form>
      </div>
      <div class="card-height">
        <div class="mb-3 overflow-auto">
          <table class="table table-dark table-hover">
            <thead>
              <tr>
                <th scope="col" class="text-align">Nome</th>
                <th scope="col" class="text-align">N° de pessoas</th>
                <th scope="col" class="text-align"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let i of filteredOptions | async; let index = index">
                <td class="text-align">
                  {{ i.nome }}
                </td>
                <td class="text-align">
                  {{ i.jornadaDe }} às {{ i.jornadaAte }}
                </td>
                <td class="text-align d-flex">
                  <fa-icon [icon]="faTrash" class="icon-red click" (click)="excluirGarcon(i.id)"></fa-icon>
                  <fa-icon [icon]="faPen" class="icon-blue click" (click)="alterarGarcon(i.id)"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
