.container-fila {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.row{
  height: 100%;
}


.container-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.titulo-header{
  padding: 10px;
}

.sub-heade{
  padding: 10px;
}

.border-header{
  border-bottom: 2px solid rgb(153, 153, 153);
}

.header-table{
  padding: 15px 0 5px 0;
}

.card{
  width: 100%;
}

.card-height{
  height: 360px;
}

.margin{
  padding-top: 50px;
}
.margin:last-child{
  padding-top: 100px;
  padding-bottom: 50px;
}

.icon-blue{
  color: rgb(53, 50, 250);
  font-size: 15px;
}

.icon-red{
  color: rgb(255, 104, 104);
}

.mesas{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}
