<div class="container pagging">
  <div class="row bg-dark border-header-container">
    <div class="pagging-two overflow-auto">
      <div class="mb-3">
        <label for="formFile" class="form-label color">Escola uma foto</label>
        <div class="container-imput">
          <input readonly="" class="file-caption-name form-control kv-fileinput-caption imput" value="{{nomeArquivo}}" placeholder="Selecionar arquivo ...">
          <div class="btn btn-primary btn-file btn-file btn-dark" tabindex="500">
            <span class="color">Selecionar</span
            ><input
              id="input-b1"
              name="input-b1"
              type="file"
              class="imput-file"
              data-browse-on-zone-click="true"
              (change)="ngOnInit()"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
